eln-cache
elpa
forge-database.sqlite
history
.mc-lists.el
places
projectile-bookmarks.eld
projectile.cache
transient
auto-save-list
request
projects
.local
devdocs
straight
.cache
.emacs.desktop
.emacs.desktop.lock
undo
eshell
network-security.data
tramp
tree-sitter
.lsp-session
.org-jira
tldr
